.dashborad{
  flex: 1;
  padding: 0 8px;

}

.dashborad-grid{
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 24px;
  height: 100%;
}

.left-column{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-column{
  display: flex;
  flex-direction: column;
  gap: 24px;
}